/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-abr-2018, 11:20:23
    Author     : codigowww
*/


.pagination{


    li{
        position: relative;
        display: block;
        width:2rem;
        height:2rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #dee2e6;



        &.active{
            border-color: #007bff;
            a{
                background: #007bff;
                border-color: #007bff;
                color:white!important; 
            }

        }

        a,span{
            display:block;
            width:100%;
            height:100%;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.disabled{
            color: #ccc;
        }
    }


    li:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    li:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}


