/* ------------------------------------------------------------ *\
        Icomoon
\* ------------------------------------------------------------ */


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?j92bmj');
    src:  url('../fonts/icomoon.eot?j92bmj#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?j92bmj') format('truetype'),
	url('../fonts/icomoon.woff?j92bmj') format('woff'),
	url('../fonts/icomoon.svg?j92bmj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
    content: "\e905";
}
.icon-mail_outline:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e901";
}
.icon-mode_edit:before {
    content: "\e902";
}
.icon-pin_drop:before {
    content: "\e903";
}
.icon-check:before {
    content: "\e904";
}