/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-ene-2018, 11:50:53
    Author     : PC03-MAXI
*/
.modal-multimedia-select .modal-content {
  background-color: transparent;
  box-shadow: none; }
.modal-multimedia-select .btn-group {
  height: 50vh; }
.modal-multimedia-select .btn-group > .btn {
  border-radius: 2.286rem; }
  .modal-multimedia-select .btn-group > .btn i {
    display: block;
    font-size: 4rem; }
.modal-multimedia-select .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.modal-multimedia-select .btn-group > .btn:last-child:not(:first-child), .modal-multimedia-select .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
.modal-multimedia-select .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0; }

.modal-multimedia-galeria .modal-body {
  max-height: 75vh;
  overflow-y: auto; }

/*# sourceMappingURL=multimediaWidget.css.map */
