/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-oct-2017, 18:48:41
    Author     : PC03-MAXI
*/
.table > thead > tr > th {
  border-bottom: 0 !important; }

#grid-pjax .panel-actions .btn-group.show {
  display: inline-block !important; }

.app-media .media-list.is-list .image-wrap {
  overflow: hidden; }

.panel-heading + .panel-body {
  padding-top: 20px; }

.bootstrap-tagsinput {
  display: block; }

.alert.fade {
  opacity: 1; }

.modal {
  z-index: 1501 !important; }

.panel-actions a.btn-default {
  color: #757575; }

.panel .panel-heading .panel-title i {
  margin-right: 0.5rem; }

#grid-pjax-pjax .panel > .table-responsive .table > thead > tr > td:last-child {
  padding-right: 0; }
#grid-pjax-pjax .panel > .table-responsive .table > thead > tr > td:first-child {
  padding-left: .572rem; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-oct-2017, 18:48:41
    Author     : PC03-MAXI
*/
#galeria-input-list {
  list-style: none; }
  #galeria-input-list li {
    display: inline-block;
    width: 49%; }
  #galeria-input-list ul.pagination {
    margin: 0; }
    #galeria-input-list ul.pagination li.next {
      width: 100%;
      text-align: center; }
  #galeria-input-list #infscr-loading {
    text-align: center; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-abr-2018, 11:20:23
    Author     : codigowww
*/
.pagination li {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6; }
  .pagination li.active {
    border-color: #007bff; }
    .pagination li.active a {
      background: #007bff;
      border-color: #007bff;
      color: white !important; }
  .pagination li a, .pagination li span {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .pagination li.disabled {
    color: #ccc; }
.pagination li:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }
.pagination li:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

/*# sourceMappingURL=site.css.map */
